# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle peekmo-php-atom-autocomplete'
      'command': 'peekmo-php-atom-autocomplete:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'peekmo-php-atom-autocomplete'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'peekmo-php-atom-autocomplete:toggle'
        }
      ]
    ]
  }
]
