'atom-text-editor':
  'ctrl-alt-n': 'atom-autocomplete-php:namespace'
  'ctrl-alt-g': 'atom-autocomplete-php:goto'
  'ctrl-shift-g': 'atom-autocomplete-php:goto-backtrack'
  'ctrl-alt-u': 'atom-autocomplete-php:import-use-statement'
