// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-utf-codes";

.peekmo-php-atom-autocomplete {
}

.php-atom-autocomplete-strike, .php-atom-autocomplete-strike .word {
    text-decoration: line-through;
}

.php-atom-autocomplete-goto-overlay {
    width: 100%;
    margin-left: -50%;
}

atom-text-editor, atom-text-editor::shadow {
    .comment-clickable .region {
        pointer-events: all;
        z-index: 9999;
    }

    .gutter[gutter-name="atom-autocomplete-php-symbol-gutter"] {
        margin-left: 0.25em;
        margin-right: 0.25em;;

        .decoration {
            &:before {
                font-family: 'Octicons Regular';
                font-weight: normal;
                font-style: normal;
                display: inline-block;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                text-decoration: none;
                font-size:1em;
                width:1em;
                height:1em;
            }

            &.override {
                visibility: visible;

                &:before {
                    content: @link;
                    color: @ui-site-color-2;

                    z-index: 1;
                }
            }

            &.implementation {
                visibility: visible;

                &:before {
                    content: @link;
                    color: @ui-site-color-3;
                    z-index: 1;
                }
            }
        }
    }
}
